@font-face{
font-family:'DNFForgedBlade';font-style:normal;font-weight:300;
src:url('//cdn.df.nexon.com/img/common/font/DNFForgedBlade-Light.otf')format('opentype')}

*{
    font-family:'DNFForgedBlade';
    box-sizing: border-box;
    color:black;
}

ul{ list-style-type: none; }
a{ text-decoration: none; outline: none; }

.webContainer{ width : 1100px; margin : 0 auto; }

/* ν—¤λ” */
header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header > h2 { margin-left:20px; }
header ul {
   width:750px;
   height:100%;
   display: flex;
   justify-content: space-between;
}
header ul > li {
   height: 100%;
   display: flex;
   align-items: center;
}

/* ν‘Έν„° */
footer {
  margin-top: 80px;
  width: 100%;
  height: 90px;
  border-top: 1px solid #c4c4c4;
  color: #808080;
  font-size: 11px;
  display : flex;
      justify-content: space-between;
      align-items: center;
}

footer a {
  display: inline-block;
  margin: 0 20px 10px 20px;
  color: #808080; font-size: 11px;
}

footer a:visited {
  color: #808080;
}

footer p {
  margin-top: 0; margin-bottom: 0;
}

footer p span {
  display: inline-block;
  margin-left: 20px;
}